{
    "presets": [["@babel/preset-env", {"modules": false}]],
    "plugins": [
        ["@babel/plugin-transform-modules-commonjs", {"spec": true}],
        ["@babel/plugin-transform-runtime", {"regenerator": true}]
    ]
}
